<!--
    Wait.... You're actually looking at my code........ Thank you!!!!
    Hopefully everything is easy to find. My goal was to have this site completely hosted on github for free.
    My custom made css templete follows my own website design methods. These methods are based on percentages.
    To do this I emplemented a series of clickable items that would lead to each scene. This is controlled by conditionals in the <script> tag
    If you would like to colaberate...
    Email me at:
        travis.c.j.gray@gmail.com
    with subject 'CONCATINATE'

    Navigate to:
        127.0.0.1:5000/

-->

<html class="g-FlexFit">
<head>
    <title>
        {{ title }}
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Logo.jpg') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GrayPry_Globals.css') }}">

    <!-- Local css -->


  		<!-- Local JQuery and bootstrap -->
  		<script type="text/javascript" src="{{ url_for('static', filename='JavaScript/JQuery/jquery.js') }}"></script>
  		<script type="text/javascript" src="{{ url_for('static', filename='JavaScript/JQuery/jquery-ui.js') }}"></script>
  		<!-- <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/Bootstrap/popper.js') }}"></script> -->
  		<!-- <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/Bootstrap/bootstrap.js') }}"></script> -->

  		<!-- Local Javasript -->
      <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/global.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='Javascript/Player_Input/Player_Input.js') }}"></script>


    <style>
    </style>

</head>
<body class="g-FlexFit  g-century-gothic bg ">
    <!-- Logo Section -->

    <div class="g-height100 g-width100 g-centered-text g-FL" style="position:absolute">

      <img class="g-height100 g-width100 g-FL" src="{{url_for('static', filename='images/Logo_Sub.jpg')}}" alt="Logo">
      <div class="g-height100 g-width100 g-centered-text g-FL" style="position:absolute">
        <div class="g-height2 g-width100  g-text-centered g-text-yellow g-responsive-text-5 g-FL">

        </div>
        <div class="g-height8 g-width100  g-text-centered g-text-yellow g-responsive-text-5 g-FL">
            PORKER RUN 2022
        </div>
        <div class="g-height90 g-width100 g-FL">
          <div class="g-height100 g-width50  g-FL">
            <div class="g-height10 g-width100  g-FL">
              <div class="g-height25 g-width100 g-FL ">

              </div>
              <div class="g-height50 g-width20 g-FL">

              </div>
              <input class="g-height50 g-width20 g-FL" type="text" id="Player_Name" placeholder="Player Name" required>
              <div class="g-height50 g-width5 g-FL ">
                Paid
                <input class="g-height50 g-width50" type="checkbox" id="Player_Paid">
              </div>
              <button class="g-height50 g-width15 g-FL" type="button" name="button" onclick="Add_Player( )"> Add Player </button>
              <div class="g-height50 g-width5 g-FL ">
              </div>
              <button class="g-height50 g-width15 g-FL" type="button" name="button" onclick="Remove_Player( )"> Remove_Player </button>
            </div>
            <div class="g-height5 g-width100 g-FL">
            </div>
            <div class="g-height85 g-width5 g-FL">
            </div>
            <div id="Play_Info_Area" class="g-height80 g-width90 g-border-color-white g-FL">
              TODO: Add Play viewer
            </div>
          </div>
          <div class="g-height100 g-width50  g-FL">
            <div class="g-height5 g-width100 g-FL">
            </div>
            <div class="g-height90 g-width5 g-FL">
            </div>
            <div class="g-height90 g-width90 g-border-color-white g-FL">
            TODO: Add Leaderboard here
            </div>
          </div>
        </div>
        <!-- <input class="g-height25 g-width50 g-FL" type="text" id="Player_Name_Remove" placeholder="Player Name" required>
        <button class="g-height25 g-width50 g-FL" type="button" name="button" onclick="Remove_Player( )"> Remove_Player </button> -->

      </div>

    <script>
                            // Local Javascript
    </script>

</body>
</html>
